/* Define a color palette */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;800&display=swap");

:root {
  --green: #00ff9f;
  --yellow: #f8ff1d;
  --purple: #9c7bff;
  --blue: #4b69fe;
  --light-purple: #f8e0fa;
  --light-green: #b2e2bb;
  --light-yellow: #fbf4a0;
  --font: "Work Sans", sans-serif;
  --shadow-1: 1.5vmin 1.5vmin #000;
  --border: solid 1vmin #000;
  --border-small: solid 0.65vmin #000;
}

/* Apply the color palette to the body */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}

#this is working
button.css-1x8cf1d.edgvbvh10 {
    position: absolute;
    top: 4vmin;
    bottom: 4vmin;
    left: 0;
    right: 0;
    margin: auto;
    width: 32vmin;
    padding-block: 1.5vmin;
    border-radius: 3vmin;
    border: var(--border-small);
    box-shadow: 0.6vmin 0.6vmin #000;
    text-align: center;
    background: var(--yellow);
    text-decoration: none;
    font-weight: 800;
    color: #000;
    font-size: 4vmin;
}
div.block-container.css-1y4p8pa.egzxvld4 {
    height: auto;
    aspect-ratio: 5/8;
    background: var(--yellow);
    border-radius: 4vmin;
    box-shadow: var(--shadow-1);
    border: var(--border);
    position: relative;
    overflow: visible;
    padding-block: 4vmin;
    margin: auto;
}

.row-widget stButton:hover {
    background-color: #d1553f;
}

div.css-1r6slb0.e1tzin5v1 {
    background-color: lightgoldenrodyellow;
    padding: 0.25em 0.5em;
}


.streamlit-selectbox {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
}

.streamlit-selectbox:hover {
    border: 1px solid #d1553f;
}
